.App {
  font-family: sans-serif;
  text-align: center;
}

.game_box {
}

.hangman {
  height: 150px;
  width: 200px;
  background: green;
  margin: auto;
}

.clue {
  padding-top: 5px;
  font-size: 0.7em;
  font-weight: 700;
  font-style: italic;
}

.currentLetters {
  display: flex;
  justify-content: center;

  margin: 5px;
  padding: 5px;
}

.letter {
  background: lightgrey;
  font-size: 1.5em;
  border-radius: 5px;
  margin: 2px 8px;
  padding: 7px;
}

.guessed_letters {
  height: 40px;
  background: #e9e9e9;
}
